<div class="container mt-4">
    <h2>Agregar Nueva Mascota</h2>
    <form (ngSubmit)="addPet()" #petForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" class="form-control" [(ngModel)]="newPet.nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" class="form-control" [(ngModel)]="newPet.tipo" name="tipo" required>
      </div>
      <div class="form-group">
        <label for="raza">Raza:</label>
        <input type="text" id="raza" class="form-control" [(ngModel)]="newPet.raza" name="raza" required>
      </div>
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" id="edad" class="form-control" [(ngModel)]="newPet.edad" name="edad" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="petForm.invalid">Agregar Mascota</button>
    </form>
  </div>
  